.character-card-wrapper{
    width: 35%;
    margin: auto 2.5% auto 2.5%;
    background-color: rgb(176, 127, 255);
    border-radius: 24px;
}
.character-card-wrapper img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    box-shadow: 0px 2px 7px rgb(101, 51, 121);
}
.character-card-wrapper h2 {
    margin: 0;
}
.character-card-wrapper h3{
    font-size: 1rem;
}
.char-card-span {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}