.App {
  text-align: center;
  width: 50%;
  margin: auto;
}

/* 
  Styles for the stat setter component
  used for character creation
*/
.stat-setter-container{
  background-color: red;
  margin: 1.5% auto;
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.stat-setter-name{
  background-color: cyan;
  width: 45%;
  margin: auto;
}
.button-container{
  width: 45%;
}
.button-container button {
  width: 15%;
}
.stat-level-container{
  display: inline-block;
  width: 20%;
  margin: 0 5%;
}

/* 
  The main Game Window styles
*/
.game-window-wrapper {
  width: 100%;
  min-height: 680px;
  margin: auto;
  background-color: rgb(177, 219, 255);
}

/* 
  Combat Screen Styles
*/
.combat-screen-wrapper {
  background-color: blueviolet;
  width: 100%;
  height: 640px;
}