.App {
  text-align: center;
  width: 50%;
  margin: auto;
}

/* 
  Styles for the stat setter component
  used for character creation
*/
.stat-setter-container{
  background-color: red;
  margin: 1.5% auto;
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.stat-setter-name{
  background-color: cyan;
  width: 45%;
  margin: auto;
}
.button-container{
  width: 45%;
}
.button-container button {
  width: 15%;
}
.stat-level-container{
  display: inline-block;
  width: 20%;
  margin: 0 5%;
}
.avatar-selector-main-wrapper{
  width: 50%;
  margin: auto;
}
.avatar-selector-main-wrapper p{
  margin: 0;
}
.avatar-selector-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.avatar-selector {
  margin: auto 2.5%;
  border: 2px solid black;
}
.avatar-selector-image-container{
  margin: auto 2.5%;
}

/* 
  The main Game Window styles
*/
.game-window-wrapper {
  width: 100%;
  min-height: 680px;
  margin: auto;
  background-color: rgb(177, 219, 255);
}

/* 
  Main Menu Styles
*/
.main-menu-nav{
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: aqua;
}
.menu-nav-button{
  width: 100%;
  height: 100%;
  background-color: yellowgreen;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu-nav-button:hover{
  cursor: pointer;
  background-color: yellow;
}

/* 
  Combat Screen Styles
*/
.combat-screen-wrapper {
  background-color: blueviolet;
  width: 100%;
  height: 640px;
}